# Development Environment
.devenv*
devenv.local.nix
.direnv
.pre-commit-config.yaml

# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Build and Distribution
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec

# Logs and Testing
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations and Databases
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Web Frameworks
instance/
.webassets-cache
.scrapy
docs/_build/

# Development Tools
.pybuilder/
target/
.ipynb_checkpoints
profile_default/
ipython_config.py
__pypackages__/

# Task Runners and Caches
celerybeat-schedule
celerybeat.pid
*.sage.py

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE and Editor Files
.spyderproject
.spyproject
.ropeproject
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/
.idea/
pyrightconfig.json

# Package Management
poetry.toml
.pdm.toml
.ruff_cache/
